
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/profile', user: @user %>

      <%= render 'books/book', book: @newbook %>

  <div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
   <table class="table">
     <tbody>
       <tr>
         <td>
           <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: '100x100' %><br>
            <%= link_to user_path(@user) do %>
            <%= @user.name %>
            <% end %>
         </td>
         <td>
           <%= link_to book_path(@book.id) do %>
            <%= @book.title %>
            <% end %>
         </td>
         <td><%= @book.body %></td>
         <td>
            <% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success edit_book_33404"%>
            <% end %>
         </td>
         <td>
           <% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "are you sure？"}, class:"btn btn-sm btn-danger destroy_book_33404"%>
            <% end %>
         </td>
       </tr>
     </tbody>
   </table>

